.skills {
    background-color: black;
    width: 100vw;
    height: 730px;
    padding-top: 50px;
    padding-bottom: 100px;
    border-bottom: 10px solid #560404;
}
.skills .right {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}