.skill {
    display: flex;
    margin-left: 239px;
    margin-top: 70px;
}

.skill .title {
    font-family: 'Press Start 2P';
    font-size: 25px;
    color: #fff;
    text-shadow: none;
}

.skill .icon {
    margin-right: 25px;
}